.overlay .content {
    position: relative;
}

.overlay .btn-prev,
.overlay .btn-next {
    position: absolute;
    top: 50%;
}

.overlay .btn-prev {
    left: -4%;
}

.overlay .btn-next {
    left: 96%;
}
